/* common styles here */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #f948b2;
  --secondary-color: #0b0223;
}
html {
  font-size: 60.5%;
  scroll-behavior: smooth;
}
body {
  font-family: 'Work Sans', sans-serif;
  text-rendering: optimizeLegibility;
  line-height: 1.3;
  font-size: 1.6rem;
}
ul li {
  list-style-type: none;
  text-decoration: none;
}
.focus {
  outline: 0;
}
.row {
  max-width: 114rem;
  margin: 0 auto;
}
section {
  padding: 6rem 0;
}
.btn,
.btn:link,
.btn:visited {
  background: #ff42a5;
  border: none;
  color: #fff;
  text-decoration: none;
  border-radius: 3rem;
  margin-top: 4rem;
  font-size: 1.6rem;
  padding: 1.5rem 3rem;
}
/* nav styles here */
.nav-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 0;
}
.logo-sec {
  display: flex;
  align-items: center;
}
.logo-h h3 {
  margin-left: 2rem;
  text-align: center;
  font-size: 3.5rem;
  font-weight: 700;
}
.g-c {
  color: var(--primary-color);
}
.nav-menu ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-menu ul li {
  margin-right: 2rem;
}
.nav-menu ul li:nth-child(5) {
  margin-right: 0;
}
.nav-menu ul li a {
  text-decoration: none;
  color: #3c354f;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 500;
}
.nav-menu .fa-youtube {
  color: #f61c0d;
  font-size: 2rem;
}
.nav-menu ul li:nth-child(n + 3) {
  border-radius: 0.5rem;
  background: rgba(11, 2, 35, 0.1);
  padding: 1rem 2rem;
}
.nav-btn a {
  margin-right: 1rem;
}
/* header banner */
.header-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-banner h1 {
  color: #0b0223;
  font-size: 4rem;
  font-weight: 600;
  text-transform: uppercase;
}
.banner-content span {
  font-size: 8rem;
  font-weight: 800;
  text-transform: uppercase;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.goat-line p {
  margin-bottom: 1rem;
}
.btn-si {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
}
.btn-gr {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
}
.banner-img img {
  width: 80%;
  height: auto;
  float: right;
}
